<div class="home-banner">
  <h1>Project Cocktail</h1>
  <h2 class="btn btn-flat"><%= link_to 'Add Your Own', new_cocktail_path %></h2>
</div>
<div class="container-fluid p-0 d-flex flex-wrap justify-content-center" id="cocktail-list">
<% @cocktails.each do |cocktail|%>
  <% if cocktail.photo.attached? %>
    <div class="card-product m-3" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path cocktail.photo.key %>')">
  <% else %>
    <div class="card-product m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path("https://res.cloudinary.com/dvxd5rkn7/image/upload/v1599199607/no-image-found-360x250_copy_vpbavh.jpg")%>')">
  <% end %>
  <div class="card-product-infos">
    <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2> 
  </div>
  </div>
<% end %>
</div>
