<div class="home-banner">
  <h1>Discover Cocktails</h1>
  <h2><%= link_to 'Add Your Own', new_cocktail_path %></h2>  
</div>
<div class="container d-flex flex-wrap justify-content-center">
<% @cocktails.each do |cocktail|%>
  <div class="card-product m-3">
  <% if cocktail.photo.attached? %>
  <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
  <%= cl_image_tag("https://res.cloudinary.com/dvxd5rkn7/image/upload/v1599199607/no-image-found-360x250_copy_vpbavh.jpg", width: 360, height: 250, crop: :fill) %>
  <% end %>
    <div class="card-product-infos">
      <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2> 
      <p>click to learn <strong>more</strong> about this cocktail.</p>
    </div>
  </div>
<% end %>
</div>
