<div class="home-banner">
  <h1>Project Cocktail</h1>
  <%= link_to "Add Your Own", "/cocktails/new", class: "btn btn-flat" %>
</div>
<div class="container-fluid p-0 d-flex flex-wrap justify-content-center" id="cocktail-list">
<% @cocktails.each do |cocktail|%>
  <% if cocktail.photo.attached? %>
    <div class="card-product m-3" style="background-image: linear-gradient(0deg, rgba(255, 227, 84, 1) 0%, rgba(253, 253, 150, 0.2) 0%), url('<%= cl_image_path cocktail.photo.key %>')">
  <% else %>
    <div class="card-product m-3" style="background-image: url('<%= cl_image_path("https://res.cloudinary.com/dvxd5rkn7/image/upload/v1599199607/no-image-found-360x250_copy_vpbavh.jpg")%>')">
  <% end %>
    <div class="card-product-infos">
      <%= link_to cocktail.name, cocktail_path(cocktail)%> 
    </div>
  </div>
<% end %>
</div>
