.container-fluid {
  margin-top: 150px;
}

.container-fluid h1 {
  font-family: 'Teko';
  font-size: 90px;
  color: $light-magenta;
  font-style: italic;
  letter-spacing: 5px;
  margin-bottom: 50px;
}

.new-card {
  margin: 15px auto;
  font-family: 'Montserrat';
  overflow: hidden;
  height: 250px;
  width: 80vw;
  background: rgb(254, 254, 254);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: $dark-magenta;
  border-width: 10px;
  border-radius: 2px;
}

.item-card .input {
  padding: 10px 0px;
  margin-left: 50px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  font-size: 20px;
}

.form-inputs {
  margin: auto;
}

.form-submit .btn {
  font-size: 25px;
}
