.home-banner {
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 25vh;
}

.home-banner h1 {
  font-family: 'Teko';
  font-size: 150px;
  color: $light-magenta;
  font-style: italic;
  letter-spacing: 5px;
  margin-bottom: 50px;
}

.home-banner a {
  text-decoration: none;
  font-size: 30px;
}

.home-banner a:hover {
  text-decoration: none;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $dark-magenta;
  transition: background 0.3s ease;
  font-family: 'Montserrat';
}

.btn-flat:hover {
  background: $light-magenta;
  color: white;
}
