.home-banner {
  background-image: url('https://res.cloudinary.com/dvxd5rkn7/image/upload/v1599281566/landing-bg_lm1op6.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
