.card-product {
  font-family: 'Nunito';
  overflow: hidden;
  height: 250px;
  width: 30vw;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: $light-magenta;
  border-width: 10px;
  border-radius: 2px;
  background-position: center;
  background-size: cover;
}

.card-product:hover {
  border-style: solid;
  border-color: $dark-magenta;
  border-width: 10px;
  transition: border-color 0.2s ease;
}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.card-product a {
  text-decoration: none;
  color: $dark-blue;
}

.card-product a:hover {
  text-decoration: none;
  color: $dark-blue;
}
