.card-product {
  font-family: 'Montserrat';
  overflow: hidden;
  height: 250px;
  width: 30vw;
  background: $dark-magenta;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: $dark-magenta;
  border-width: 10px;
  border-radius: 2px;
  background-position: center;
  background-size: cover;
}
.card-product:hover {
  border-style: solid;
  border-color: $light-magenta;
  border-width: 10px;
  transition: border-color 0.2s ease;
}

.card-product img {
  height: 100%;
  width: 150px;
}

.card-product-infos a {
  text-decoration: none;
  color: white;
  font-size: 45px;
  font-weight: bold;
}

.card-product-infos a:hover {
  text-decoration: none;
  color: white;
}
