.footer {
  background: $light-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  padding: 0px 50px;
}

.footer a {
  color: $dark-yellow;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer a:hover {
  color: $light-yellow;
}
